[submodule "solita-dev-academy-2022-fall-backend"]
	path = backend
	url = https://github.com/hgabs/solita-dev-academy-2022-fall-backend.git
[submodule "solita-dev-academy-2022-fall-frontend"]
	path = frontend
	url = https://github.com/hgabs/solita-dev-academy-2022-fall-frontend.git
